@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL STYLES */
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "cabinet_black";
  src: url("../fonts/CabinetGrotesk-Black.otf");
  font-display: swap;
}

@font-face {
  font-family: "cabinet_eb";
  src: url("../fonts/CabinetGrotesk-ExtraBold.otf");
  font-display: swap;
}

@font-face {
  font-family: "cabinet_b";
  src: url("../fonts/CabinetGrotesk-Bold.otf");
  font-display: swap;
}

@font-face {
  font-family: "cabinet_m";
  src: url("../fonts/CabinetGrotesk-Medium.otf");
  font-display: swap;
}

@font-face {
  font-family: "cabinet_r";
  src: url("../fonts/CabinetGrotesk-Regular.otf");
  font-display: swap;
}

@font-face {
  font-family: "cabinet_l";
  src: url("../fonts/CabinetGrotesk-Light.otf");
  font-display: swap;
}

@font-face {
  font-family: "cabinet_t";
  src: url("../fonts/CabinetGrotesk-Thin.otf");
  font-display: swap;
}

* {
  font-family: "cabinet_r", sans-serif;
  box-sizing: revert;
  font-size: 16px;
  box-sizing: border-box;
  color: white;
}

.line_dot {
  @apply w-[4px] h-[4px] rounded-full absolute;
}
.dot {
  @apply w-[4px] h-[4px] bg-[#D9D9D9] rounded-full absolute;
}

/* styles for the form on partnership */
.form-group {
  position: relative;
  margin: 20px 0;
}

input,
textarea, select {
  width: 100%;
  padding-top: 10px;
  /* padding-top: 20px; */
  font-size: 16px;
  background-color: transparent;
  border-bottom: 1px solid #3a5590;
  outline: none;
  resize: vertical;
  margin-bottom: 7px;
}

textarea {
  height: 100px;
  padding-top: 30px;
}

label span {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 10px; */
  /* transform: translateY(-50%); */
  font-size: 15px;
  color: #5A5A77;
  /* pointer-events: none; */
  transition: all 03s ease;
}

/* Move label up on focus or if the input is not empty */
/* input:focus + label,
input:valid + label,
textarea:focus + label,
textarea:valid + label {
  top: 0;
  left: 10px;
  font-size: 12px;
  color: #5a5a77;
} */

.hs-form-field {
  margin-bottom: 20px;
}

.hs-main-font-element {
  color: red;
  font-size: 14px;
}

/* .no-list .hs-error-msgs .inputs-list {
  display: none !important;
} */

.hs-button {
  @apply bg-[#06B1F1] h-[50px] w-full font-cabinet_b rounded-lg mt-[20px]
}

.hs-custom-style>div input:not([type=image]):not([type=submit]):not([type=button]):not([type=radio]):not([type=checkbox]):not([type=file]) {
  padding: 0 !important;
}
